.fifa_container {
	margin: auto;
	padding-top: 70px;
	width: 90%;
	font-family: Roboto;
	font-size: 16px;
	position:relative;
	overflow: hidden;
}

.fifa_filters {
	width: 98%;
	height: 200px;
	background-color: var(--claret);
	margin-bottom: 10px;
	color: white;
	padding: 2px 5px;
	border-radius: 5px;
	transition-duration: 0.5s;
	text-align: center;
}

#filter_toggle {
	cursor:se-resize;
	width: 100%;
}

form {
	margin: auto;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#filter_form {
	visibility: visible;
}

.filters_flex {
	display: flex;
	width: 100%;
	justify-content: center;
}

.filters_flex div {
	border: 1px solid white;
	margin: 5px;
}

.filters_left {width: 30%;}
.filters_center {width: 65%;}
.filters_right {width: 5%;}

.filters_left td {
	text-align: left;
}

.filters_left select {
	width: 95%;
	min-width: 254px;
	align-items: left;
	margin-left: 10px;
	border: none;
	padding: 0px;
}

.filters_left input {
	border: none;
	width: 95%;
	padding: 0px;
	margin-left: 10px;
}




.table_container {
	height:420px;
	overflow:auto;  
	margin-top:0px;
	background-color: white;
	border-radius: 5px;
	transition-duration: 0.5s;
}

table {
	width: 100%;
	font-size: 14px;
	top: 0;
	border-spacing: 0px;
}

th {
	position: sticky;
	margin-top: 0px;
	top: 0;
	background: var(--claret);
	color: white;
}

.table_row:hover {
	background-color: var(--mistyrose);
}