/* CSS HEX */
:root {
	--gray: #7a7d7dff;
	--rich-black: #0c1618ff;
	--ivory: #fffce8ff;
	--claret: #990d35ff;
	--claretvilla: #490024ff;
	--rusty-red: #d52941ff;
	--lightcoral: #E37884ff;
	--lightcoral-t : #E3788422;
	--mistyrose: #F8DDE0ff;
	--mistyrose-t: #F8DDE066;
	--white: #fff;
	--transition-speed: 1s;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.nav-bar-top a {
	text-decoration: none;
	color: var(--ivory);
}

.nav-bar-top {
	height: 50px;
	width: 100%;
	background-color: var(--claret);
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: fixed;
}

.nav-bar-ul {
	display: flex;
	width: 70%;
	text-align: center;
	justify-content: center;
	list-style-type: none;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.nav-bar-ul li {
	width: 25%;
}






.about-container {
	padding-top: 70px;
	margin: auto;
	width: 60%;
	font-family: Roboto;
	font-size: 16px;
}

.about-image {
	padding: 20px 0px;
	text-align: center;
	justify-content: center;
}

#about-img {
	height: 310px;
	width: 50%;
	object-fit: cover;
	object-position: 0 20%;
	border-radius: 50px;
}

.about-textbox {
	text-align: justify;
}

.about-icon-boxes {
	margin-top: 20px;
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: space-around;
	list-style-type: none;
}

.about-icon-boxes li {
/*	background-color: red;*/
	margin: 10px;
	width: 20%;
}

.about-icon-boxes img {
	object-fit: cover;
	height: 35px;
}
