
.portfolio-container {
	padding-top: 70px;
	margin: auto;
	width: 60%;
	font-family: Roboto;
	font-size: 16px;
}

.portfolio-org-container {
	display: inline;
	width: 100%;
	height: 300px;
}

.portfolio-org-header {
	display: flex;
	height: 20px;
	width: 100%;
	background-color: var(--claret);
	color: white;
}

.portfolio-org-name {
	padding: 0px 5px;
	width: 20%;
}

.portfolio-job-title {
	padding: 0px 5px;
	width: 60%;
}

.portfolio-date-from {
	padding: 0px 5px;
	width: 10%;
	text-align: left;
}

.portfolio-date-to {
	padding: 0px 5px;
	text-align: right;
	width: 10%;
}

.portfolio-org-main {
	width: 100%;
	display: flex;
	background-color: var(--mistyrose-t);
	margin-bottom: 20px;
	justify-content: center;
}

.portfolio-org-text {
	width: 98%;
	margin: 3px 0px;
	text-align: justify;
	font-size: 12px;
}