{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="static/style_fifa.css">


<script>
    var buttonstate = new Boolean(true);
    function expandit() {
        if (buttonstate == true) {
            document.getElementById("filter_box").style.height = "20px";
            document.getElementById("table_box").style.height = "600px";
            document.getElementById("filter_toggle").innerText = "Show Filters"
            document.getElementById("filter_form").style.visibility = "hidden";
        } else {
            document.getElementById("filter_box").style.height = "200px";
            document.getElementById("table_box").style.height = "420px";
            document.getElementById("filter_toggle").innerText = "Hide Filters"
            document.getElementById("filter_form").style.visibility = "visible";
        };
        buttonstate = !buttonstate;
        console.log(buttonstate);
    }
</script>



<div class = "fifa_container">

    <div class = "fifa_filters" id = "filter_box">
        <div id = "filter_toggle" onclick="expandit()">
            Hide Filters
        </div>
        <div id = "filter_form">
            <form action = "/fifa", method="POST">
                {{ form.csrf_token }}
                <div class="filters_flex">
                    <div class = "filters_left">
                        <table class = "filter_left_table">
                            <tr>
                                <td>{{ form.filter_name.label }}</td>
                                <td>{{ form.filter_name }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.filter_year.label }}</td>
                                <td>{{ form.filter_year }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.filter_club.label }}</td>
                                <td>{{ form.filter_club }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.filter_league.label }}</td>
                                <td>{{ form.filter_league }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.filter_teamposition.label }}</td>
                                <td>{{ form.filter_teamposition }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.filter_nationality.label }}</td>
                                <td>{{ form.filter_nationality }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class = "filters_center">
                        <table class = "filter_left_table">

                            <!-- https://www.w3schools.com/howto/howto_js_rangeslider.asp -->


                            <tr>
                                <td class = "slider_label">{{ form.filter_age_min.label }}</td>
                                <td class = "slider">{{ form.filter_age_min }}</td>
                                <td class = slider_break>Text</td>
                                <td class = slider_break>and</td>
                                <td class = slider_break>Text</td>
                                <td class = "slider">{{ form.filter_age_max }}</td>
                            </tr>
                            <tr>
                                <td class = "slider_label">{{ form.filter_height_min.label }}</td>
                                <td class = "slider">{{ form.filter_height_min }}</td>
                                <td class = slider_break>Text</td>
                                <td class = slider_break>and</td>
                                <td class = slider_break>Text</td>
                                <td class = "slider">{{ form.filter_height_max }}</td>
                            </tr>
                            <tr>
                                <td class = "slider_label">{{ form.filter_weight_min.label }}</td>
                                <td class = "slider">{{ form.filter_weight_min }}</td>
                                <td class = slider_break>Text</td>
                                <td class = slider_break>and</td>
                                <td class = slider_break>Text</td>
                                <td class = "slider">{{ form.filter_weight_max }}</td>
                            </tr>
                            <tr>
                                <td class = "slider_label">{{ form.filter_value_min.label }}</td>
                                <td class = "slider">{{ form.filter_value_min }}</td>
                                <td class = slider_break>Text</td>
                                <td class = slider_break>and</td>
                                <td class = slider_break>Text</td>
                                <td class = "slider">{{ form.filter_value_max }}</td>
                            </tr>
                            <tr>
                                <td class = "slider_label">{{ form.filter_wage_min.label }}</td>
                                <td class = "slider">{{ form.filter_wage_min }}</td>
                                <td class = slider_break>Text</td>
                                <td class = slider_break>and</td>
                                <td class = slider_break>Text</td>
                                <td class = "slider">{{ form.filter_wage_max }}</td>
                            </tr>
                            <tr>
                                <td class = "slider_label">{{ form.filter_overall_min.label }}</td>
                                <td class = "slider">{{ form.filter_overall_min }}</td>
                                <td class = slider_break>Text</td>
                                <td class = slider_break>and</td>
                                <td class = slider_break>Text</td>
                                <td class = "slider">{{ form.filter_overall_max }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class = "filter_right">
                        {{ form.apply_filters }}
                        <button type="button" onclick="window.location.href='{{ url_for('fifa_reset') }}';">Reset filters</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class = "table_container" id = "table_box">


        <table>
            <tr class="table_header">
                <th>ID</th>
                <th>Name</th>
                <th>Year</th>
                <th>Club</th>
                <th>League</th>
                <th>Positions</th>
                <th>Plays As</th>
                <th>Nation</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Overall</th>
                <th>Joined</th>
                <th>Value</th>
                <th>Wage</th>
                <th>Contract</th>
            </tr>
            {% for row in fifa_data.iterrows() %}
            <tr class="table_row">
                <td>{{ row[1]["sofifa_id"] }}</td>
                <td><a href="{{row[1]['player_url']}}" target="_blank">{{ row[1]["short_name"] }}</a></td>
                <td>{{ row[1]["year"] }}</td>
                <td>{{ row[1]["club_name"] }}</td>
                <td>{{ row[1]["league_name"] }}</td>
                <td>{{ row[1]["player_positions"] }}</td>
                <td>{{ row[1]["team_position"] }}</td>
                <td>{{ row[1]["nationality"] }}</td>
                <td>{{ row[1]["age"] }}</td>
                <td>{{ row[1]["height_cm"] }}</td>
                <td>{{ row[1]["weight_kg"] }}</td>
                <td>{{ row[1]["overall"] }}</td>
                <td>{{ row[1]["joined"]|int }}</td>
                <td>{{ (row[1]["value_eur"]/1000000)|string }}m</td>
                <td>{{ (row[1]["wage_eur"]/1000)|string }}k</td>
                <td>{{ row[1]["contract_valid_until"]|int }}</td>
            </tr>
            {%endfor%}
        </table>

    </div>
</div>



{% endblock %}