{% extends "base.html" %}
{% block content %}
<div class = "portfolio-container">

	<div class = "portfolio-org-container">
		<div class = portfolio-org-header>
			<div class = "portfolio-org-name">Simpson Associates</div>
			<div class = "portfolio-job-title">Innovation Manager</div>
			<div class = "portfolio-date-from">Mar 2022</div>
			<div class = "portfolio-date-to">Oct 2023</div>
		</div>
		<div class = "portfolio-org-main">
			<div class = "portfolio-org-text">
				My role at Simpson Associates has been eclectic and varied, trusted to define, lead and deliver both internal initiatives
				and external client projects. The Innovation Manager role consists of equal parts technical innovation (including
				identifying and developing new services for clients) and service industrialisation (managing the process of
				standardising service delivery for reduced delivery effort and subsequent margin improvements).
				<br><br>
				Reporting directly into the Managing Director afforded me autonomy to establish a culture of innovation, giving all
				colleagues the opportunity and mechanisms to raise ideas for change in a controlled and structured way. My
				approach was to define the Innovation Process, including regular forums to discuss service improvement and new
				technology opportunities, an Innovation App for people to raise ideas and drive change through internal processes,
				and to drive progress from initial idea to fully realised service.
				<br><br>
				Further to the internal innovation and industrialisation responsibilities, I was responsible for all external data science
				and data strategy services, bringing my multifaceted experience to fill capability gaps and improve both quality and
				referencability in these growing areas of the company’s service portfolio.
			</div>
		</div>
	</div>



	<div class = "portfolio-org-container">
		<div class = portfolio-org-header>
			<div class = "portfolio-org-name">Simpson Associates</div>
			<div class = "portfolio-job-title">Innovation Manager</div>
			<div class = "portfolio-date-from">Mar 2022</div>
			<div class = "portfolio-date-to">Oct 2023</div>
		</div>
		<div class = "portfolio-org-main">
			<div class = "portfolio-org-text">
				My role at Simpson Associates has been eclectic and varied, trusted to define, lead and deliver both internal initiatives
				and external client projects. The Innovation Manager role consists of equal parts technical innovation (including
				identifying and developing new services for clients) and service industrialisation (managing the process of
				standardising service delivery for reduced delivery effort and subsequent margin improvements).
				<br><br>
				Reporting directly into the Managing Director afforded me autonomy to establish a culture of innovation, giving all
				colleagues the opportunity and mechanisms to raise ideas for change in a controlled and structured way. My
				approach was to define the Innovation Process, including regular forums to discuss service improvement and new
				technology opportunities, an Innovation App for people to raise ideas and drive change through internal processes,
				and to drive progress from initial idea to fully realised service.
				<br><br>
				Further to the internal innovation and industrialisation responsibilities, I was responsible for all external data science
				and data strategy services, bringing my multifaceted experience to fill capability gaps and improve both quality and
				referencability in these growing areas of the company’s service portfolio.
			</div>
		</div>
	</div>

	
</div>
{% endblock %}