{% extends "base.html" %}
{% block content %}

<div class = sudoku-container>
	
	<form method="POST" action="/sudoku">

		{{ form.csrf_token }}

		<div class = "puzzle-mainrow-1">

			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field11 }}</div>
				<div class = puzzle-item>{{ form.field12 }}</div>
				<div class = puzzle-item-m>{{ form.field13 }}</div>
				<div class = puzzle-item>{{ form.field14 }}</div>
				<div class = puzzle-item>{{ form.field15 }}</div>
				<div class = puzzle-item-m>{{ form.field16 }}</div>
				<div class = puzzle-item>{{ form.field17 }}</div>
				<div class = puzzle-item>{{ form.field18 }}</div>
				<div class = puzzle-item>{{ form.field19 }}</div>
			</div>

			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field21 }}</div>
				<div class = puzzle-item>{{ form.field22 }}</div>
				<div class = puzzle-item-m>{{ form.field23 }}</div>
				<div class = puzzle-item>{{ form.field24 }}</div>
				<div class = puzzle-item>{{ form.field25 }}</div>
				<div class = puzzle-item-m>{{ form.field26 }}</div>
				<div class = puzzle-item>{{ form.field27 }}</div>
				<div class = puzzle-item>{{ form.field28 }}</div>
				<div class = puzzle-item>{{ form.field29 }}</div>
			</div>

			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field31 }}</div>
				<div class = puzzle-item>{{ form.field32 }}</div>
				<div class = puzzle-item-m>{{ form.field33 }}</div>
				<div class = puzzle-item>{{ form.field34 }}</div>
				<div class = puzzle-item>{{ form.field35 }}</div>
				<div class = puzzle-item-m>{{ form.field36 }}</div>
				<div class = puzzle-item>{{ form.field37 }}</div>
				<div class = puzzle-item>{{ form.field38 }}</div>
				<div class = puzzle-item>{{ form.field39 }}</div>
			</div>

		</div>
				

		<div class = puzzle-mainrow-2>
			
			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field41 }}</div>
				<div class = puzzle-item>{{ form.field42 }}</div>
				<div class = puzzle-item-m>{{ form.field43 }}</div>
				<div class = puzzle-item>{{ form.field44 }}</div>
				<div class = puzzle-item>{{ form.field45 }}</div>
				<div class = puzzle-item-m>{{ form.field46 }}</div>
				<div class = puzzle-item>{{ form.field47 }}</div>
				<div class = puzzle-item>{{ form.field48 }}</div>
				<div class = puzzle-item>{{ form.field49 }}</div>
			</div>

			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field51 }}</div>
				<div class = puzzle-item>{{ form.field52 }}</div>
				<div class = puzzle-item-m>{{ form.field53 }}</div>
				<div class = puzzle-item>{{ form.field54 }}</div>
				<div class = puzzle-item>{{ form.field55 }}</div>
				<div class = puzzle-item-m>{{ form.field56 }}</div>
				<div class = puzzle-item>{{ form.field57 }}</div>
				<div class = puzzle-item>{{ form.field58 }}</div>
				<div class = puzzle-item>{{ form.field59 }}</div>
			</div>

			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field61 }}</div>
				<div class = puzzle-item>{{ form.field62 }}</div>
				<div class = puzzle-item-m>{{ form.field63 }}</div>
				<div class = puzzle-item>{{ form.field64 }}</div>
				<div class = puzzle-item>{{ form.field65 }}</div>
				<div class = puzzle-item-m>{{ form.field66 }}</div>
				<div class = puzzle-item>{{ form.field67 }}</div>
				<div class = puzzle-item>{{ form.field68 }}</div>
				<div class = puzzle-item>{{ form.field69 }}</div>
			</div>

		</div>
				
		<div class = puzzle-mainrow-3>

			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field71 }}</div>
				<div class = puzzle-item>{{ form.field72 }}</div>
				<div class = puzzle-item-m>{{ form.field73 }}</div>
				<div class = puzzle-item>{{ form.field74 }}</div>
				<div class = puzzle-item>{{ form.field75 }}</div>
				<div class = puzzle-item-m>{{ form.field76 }}</div>
				<div class = puzzle-item>{{ form.field77 }}</div>
				<div class = puzzle-item>{{ form.field78 }}</div>
				<div class = puzzle-item>{{ form.field79 }}</div>
			</div>

			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field81 }}</div>
				<div class = puzzle-item>{{ form.field82 }}</div>
				<div class = puzzle-item-m>{{ form.field83 }}</div>
				<div class = puzzle-item>{{ form.field84 }}</div>
				<div class = puzzle-item>{{ form.field85 }}</div>
				<div class = puzzle-item-m>{{ form.field86 }}</div>
				<div class = puzzle-item>{{ form.field87 }}</div>
				<div class = puzzle-item>{{ form.field88 }}</div>
				<div class = puzzle-item>{{ form.field89 }}</div>
			</div>

			<div class = puzzle-row >
				<div class = puzzle-item>{{ form.field91 }}</div>
				<div class = puzzle-item>{{ form.field92 }}</div>
				<div class = puzzle-item-m>{{ form.field93 }}</div>
				<div class = puzzle-item>{{ form.field94 }}</div>
				<div class = puzzle-item>{{ form.field95 }}</div>
				<div class = puzzle-item-m>{{ form.field96 }}</div>
				<div class = puzzle-item>{{ form.field97 }}</div>
				<div class = puzzle-item>{{ form.field98 }}</div>
				<div class = puzzle-item>{{ form.field99 }}</div>
			</div>

		</div>
		
		<div class = "puzzle_check_hidden">{{ form.check }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_1 }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_2 }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_3 }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_4 }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_5 }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_6 }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_7 }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_8 }}</div>
		<div class = "puzzle_check_hidden">{{ form.valid_9 }}</div>


		<div id = "solution_message">{{ form.is_solved }}</div>

		<div class = puzzle_is_valid >
			<div id = puzzle_is_valid_1>1</div>
			<div id = puzzle_is_valid_2>2</div>
			<div id = puzzle_is_valid_3>3</div>
			<div id = puzzle_is_valid_4>4</div>
			<div id = puzzle_is_valid_5>5</div>
			<div id = puzzle_is_valid_6>6</div>
			<div id = puzzle_is_valid_7>7</div>
			<div id = puzzle_is_valid_8>8</div>
			<div id = puzzle_is_valid_9>9</div>
		</div>

		<div class = "sudoku_buttons">
			<div><a href="{{ url_for('sudoku_reset') }}">Reset Puzzle</a></div>
			<div><a href="{{ url_for('sudoku_new')}}">New Puzzle</a></div>	
		</div>
		

		
	</form>
	
</div>

<script>

	function change_color() {
		for (let i = 0; i < 9; i++) {
			var this_logic   = "valid_"    + String(i+1);
			var this_element = "puzzle_is_valid_" + String(i+1);
			if (document.getElementById(this_logic).value == "True") {
				document.getElementById(this_element).style.backgroundColor = "#E3788422";
				document.getElementById(this_element).style.color = "black";
			} else {
				document.getElementById(this_element).style.backgroundColor = "#E37884ff";
				document.getElementById(this_element).style.color = "white";
			}
		}
	}
	change_color()

</script>
{% endblock %}
