
.tech-stack-container {
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  /* margin: auto; */
  float: left;
  padding: 5px;
  background-color: #00000010;
  /* list-style-type: none; */
  border-radius: 10px;
  transition: 0.4s ease-out;
  overflow: hidden;
}

.tech-stack-groups li {
  min-height: 25px;
  text-align: left;
  line-height: 25px;
  align-items: center;
  overflow: hidden;
}

.tech-capability-desc {
  display: flex;
  width: 45%;
  text-align: justify;
  align-content: center;
  overflow: hidden;
}

.tech-capability-desc p {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0px;
}

.tech-stack-specifics {
  display: flex;
  align-items: center;
  width: 30%;
  margin: 0px;
  min-width: 100px;
}

.tech-stack-groups ul {
  min-width: 200px;
  margin-left: 5px;
}

.expander {
  padding-left: 20px;
}