
#about {
  position: relative;
  margin: auto;
  padding-top: 150px;
  display: flex;
	width: 90%;
}

.about-image {
  width: 30%;
  min-width: 335px;
  margin: 0px 20px;
	text-align: center;
	justify-content: center;
}

#about-img {
	height: 270px;
	width: 100%;
	object-fit: cover;
	object-position: 0 20%;
	border-radius: 30px;
}

.about-textbox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  min-width: 720px;
  justify-content: center;
  border: var(--CHECKBORDERS);
}

.about-textbox p {
  margin: 10px 0px;
  padding: 0px;
  border: 0px;
  text-align: justify;
}
