#analytics {
  display: block;
  height: 700px;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 50px;
  /* background-color: #ddd; */
}

.analytics-container {
  display: flex;
  justify-content: left;
}

.analytics-section {
  width: 100%;
  transition: 0.5s ease-in-out;
  margin: 0px;
}

#left {
  background-color: red;
  max-width: 200px;
}

#middle {
  background-color: blue;
}

#right {
  background-color: green;
}






.card-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
  position: sticky;
  height: 680px;
}


.individual-card {
  display: flex;
  height: 180px;
  background-color: var(--blue);
  color: white;
  width: 30%;
  margin: 5px;
  border-radius: 10px;
}

.individual-card:hover {
  transform: scale(1.1); 
  /* transition: 0.4s ease-in-out; */
}

.player-image {
  margin: auto;
  margin-top: 0px;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 2px solid white;
}

.player-image img {
  width:40%;
  background-color: white;
}

.player-details {
  display: inline;
  text-align: top;
}

.dropdown-single {
  width: 95%;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #ddd;
}

.dropdown-single select {
  width: 100%;
}

.dropdown-single p {
  padding: 0px;
  margin: 1px;
}