
:root {
	--grey: #716969;
	--black: #011627;
	--black-10: #01162710;
	--black-20: #01162720;
	--black-50: #01162750;
	--black-80: #01162780;
	--black-90: #01162790;
	--white: #FDFFFC;
  --white-10: #FDFFFC10;
  --white-20: #FDFFFC20;
  --white-50: #FDFFFC50;
  --white-80: #FDFFFC80;
  --white-90: #FDFFFC90;
  --green: #44A1A0;
  --blue: #1B98E0;
  --outercontpadding: 0px;
}

html {
  scroll-behavior: smooth;
  transition: 0.4s ease-in-out;
  overflow-y:hidden;
}

body {
	margin: 0;
	font-family: 'Roboto';
  background-color: var(--white);
}

a {
  color: var(--black);
  text-decoration: none;
}

.link {
  text-decoration: none;
}

img {
  max-height: 100%;
  object-fit: contain;
  margin: 0px;
}

#outer-container {
  display: block;
	padding-top: 0px;
  align-items: center;
	margin: auto;
	width: 95%;
	font-family: Roboto;
	font-size: 16px;

}

.page {
  position: relative;
  display: block;
  margin: auto;
  height: 665px;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 200px;
}

.page-content {
  display: flex;
  margin: auto;
  align-items: center;
}

.link, a {
  text-decoration: none;
}

.link:hover, a:hover {
  cursor: pointer;
  color: var(--blue);
}


.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-sp-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  transition: 0.5s ease-in-out;
  margin: 0px 5px 0px 0px;
  overflow: hidden;
  border-radius: 5px;
}

.scroll-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 98%;
  align-items: center;
  overflow: auto;
  position: sticky;
}

.list-vertical {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.list-horizontal {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  height: 20px;
  width: 100%;
  text-align: center;
}

.list-horizontal li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 0px;
  width: 100%;
}

.height45 {height: 45px; max-height: 45px;}
.height40 {height: 40px; max-height: 40px;}
.height35 {height: 35px; max-height: 35px;}
.height30 {height: 30px; max-height: 30px;}
.height25 {height: 25px; max-height: 25px;}
.height20 {height: 20px; max-height: 20px;}

.list-wrap {
  padding: 5px;
  margin: 0px;
  height: 100%;
  width: 100%;
	display: flex;
  flex-wrap: wrap;
	text-align: center;
	list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
	list-style-type: none;
  overflow: hidden;
}

.list-wrap  img {
  max-height: 35px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
  padding: 0px 10px;
}

.textbox {
  display: block;
  width: 100%;
  text-align: justify;
  padding: 0px;
}

.large-image {
  width: 40%;
  margin: 0px 20px;
	height: 280px;
	object-fit: cover;
}

.dropdown-single {
  padding: 5px;
  border: none;
}

.dropdown-single select {
  width: 100%;
  border: none;
}

.dropdown-single p {
  padding: 0px;
  margin: 1px;
}

.table-minimal {
  width: 100%;
}

.table-minimal tr, td, th {
  padding: 0px;
  margin: 0px;
  text-align: left;
  font-size: 12px;
}









































