
.fifa-container {
  width: 100%;
  display: flex;
}

.filter-sidebar {
  width: 20%;
  background-color: green;
  padding: 0px 5px;
  margin-right: 5px;
}

.card-stack {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: space-evenly;
  background-color: #ddd;
  overflow: auto;
  position: sticky;
  height: 600px;
  /* top: 150px; */
}

.individual-card {
  display: flex;
  height: 250px;
  background-color: var(--blue);
  color: white;
  width: 22%;
  margin: 10px;
  border-radius: 20px;
}

.individual-card:hover {
  transform: scale(1.1); 
  transition: 0.4s ease-in-out;
}

.player-image {
  margin: auto;
  margin-top: 0px;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 2px solid white;
}

.player-image img {
  width:40%;
  background-color: white;
}

.player-details {
  display: inline;
  text-align: top;
}

.dropdown-single {
  width: 95%;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #ddd;
}

.dropdown-single select {
  width: 100%;
}

.dropdown-single p {
  padding: 0px;
  margin: 1px;
}