.navbartop {
  position: fixed;
  z-index: 99;
	width: 100%;
  margin: 0px 0px 30px 0px;
	padding: 0;
  height: 30px;
  background-color: var(--white);
}

.navbartop ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 30px;
  width: 100%;
}

.navbartop a {
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: center;
  line-height: 30px;
  margin: 0px;
  padding: 0px;
}

.links-internal, .links-external {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: var(--CHECKBORDERS);
}

.links-internal {
  float: left;
  width: 40%;
  background-color: var(--white);
  color: var(--black);
  margin-left: 20px;
}

.links-internal li {
  width: 100%;
}

.links-internal li:hover {
  cursor: pointer;
  color: var(--blue);
  -webkit-transition: color 0.3s, font-size 0.3s;
  -moz-transition: color 0.3s, font-size 0.3s;
    -o-transition: color 0.3s, font-size 0.3s;
       transition: color 0.3s, font-size 0.3s;
}

.links-external {
  float: right;
  width: 10%;
  background-color: white;
  color: var(--blue);
  margin-right: 20px;
}

.links-external ul {
  text-align: center;
  justify-content: center;
  max-height: 30px;
}

.links-external li {
  width: 100%;
}

.links-external img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin: 0px;
  padding: 2px 5px;
}

.links-external img:hover {
  cursor: pointer;
}