


.analytics-soft-intro-handler {
  transition: 0.4s ease-in-out;
  background-color: #00000010;
  border-radius: 5px;
  margin-bottom: 10px;
}

.analytics-navbar {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  transition: 0.4s ease-in-out;
  padding: 2px;
}

.analytics-soft-intro-expander {
  display: flex;
  float: right;
  justify-content: center;
  width: 6%;
  font-size: 16px;
  z-index: 1;
  padding: 0px 5px;
}

.analytics-soft-intro-expander text {
  margin-right: 5px;
}

.analytics-soft-intro-expander {
  cursor: pointer;
}

.analytics-content-filters {
  display: flex;
  justify-content: space-between;
  float: right;
  padding: 0px;
  margin: 0px 10px;
  width: 20%;
  list-style-type: none;
  transition: 0.5s;
}

.analytics-content-filters li {
  margin: 0px 10px;
  transition: 0.3s;
}

.analytics-content-filters li:hover {
  cursor: pointer;
  color: var(--blue);
}